[private-cloud-name]
host1 ansible_host=1.1.1.1 ansible_user=root ansible_ssh_pass=password ansible_python_interpreter=/usr/bin/python2.6
host2 ansible_host=2.2.2.2 ansible_user=root ansible_ssh_pass=password ansible_python_interpreter=/usr/bin/python2.6
host3 ansible_host=3.3.3.3 ansible_user=root ansible_ssh_pass=password ansible_python_interpreter=/usr/bin/python2.6
host4 ansible_host=4.4.4.4 ansible_user=root ansible_ssh_pass=password ansible_python_interpreter=/usr/bin/python2.6

[consuls]
host1
host2
host3

[consulc]
host4

[consul:children]
consuls
consulc

[app]
host1
host2

[pbx]
host4 instance=zj.sp.1 ip=4.4.4.4 n_ip=10.10.10.10 mask=255.0.0.0

[pbx:vars]
start=0
end=9

[es]
host2 redis_addr=10.10.10.9:6379

[office]
host1

[redis]
host2

[master]

[slave]
